$black: #000000;
$dark: #0b0b0b;
$white: #ffffff;
$green: #54d4a0;
$grey: #dddce0;
$grey-dark: #505050;
$grey-light: #f6f6f6;

$small-devices: 600px;
$medium-devices: 768px;
$large-devices: 1200px;

$trackHeight: 0.5rem;
$thumbRadius: 1rem;
